/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos del encabezado */
header {
  background-color: #ff6b6b;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  position: relative;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  bottom: -75px;
  left: calc(50% - 75px);

}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

header .subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos de las secciones */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ff6b6b;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Estilos de los enlaces */
a {
  color: #ff6b6b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos del formulario */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.form-container h2 {
  color: #ff6b6b;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #666;
}

.form-field textarea {
  height: 120px;
}

.form-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #ff4444;
}

.form-message {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
}

.form-message.success {
  background-color: #3cba54;
}

.form-message.error {
  background-color: #db3236;
}
