*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Akaya Kanadaka', cursive;
    font-family: 'Markazi Text', serif;
}
h1{
    font-weight: 400;
    text.align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: 100%;
}


.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
    max-height: 80vh; /* Agregado para limitar la altura máxima de la imagen */


}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galery a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);

}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

light-box img{
    width: 75vw;
    max-height: 100vh;

}
.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

}
a{
size: 20px;
}
.next{
    display: block;
    background: #851919;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    tex-decoration: none;
    text-align: center;
}

@media screen and (max-width: 400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, ifr));
        top: 20px;
        right: 20px;
    }
}
.boton{
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
}
/*Boton para volver*/
.back-button {
  background-color: #f1f1f1;
  border: none;
  color: #555;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #ccc;
}
