body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url("../static/img_pil/pil6bn.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #F3E0DC; /* Cambiado de #333 a #FFE6B3 */
    color: black; /* Cambiado de #fff a black */
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.8; /* Este estilo no está en el segundo bloque */
    padding-bottom: 20px;
    display:flex;
}

h1 {
    margin: 0;
    color: #333333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #666666;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px; /* Cambiado de 40px a 20px */
    opacity: 0.8; /* Este estilo no está en el segundo bloque */
    background-color: #F3E0DC;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    color: #FFA500; /* café */
}

p {
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
    color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    color: #666666;
}

/* Boton para volver */
.back-button {
    background-color: #f1f1f1;
    border: none;
    color: #555;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}

.logo-container {
    position: fixed;
    top: 330px;
    left: 1100px;
    width: 170px;
    text-align: left;
    padding: 10px;
    opacity: 0.5;
}

.logo-image {
    width: 150%;
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

#image-container {
    float: right;
    margin-top: 4px; /* Ajusta el margen superior según necesites */
    margin-right: 450px; /* Ajusta la distancia hacia la derecha según necesites */
}

#masaje-image {
    max-width: 300px; /* Ajusta el ancho máximo de la imagen según necesites */
    height: auto;
}

/* Estilo inicial de la imagen */
.imagen {
    opacity: 0; /* La imagen está inicialmente invisible */
    visibility: hidden; /* La imagen está inicialmente oculta */
    transition: opacity 1s ease, visibility 1s ease; /* Transición de la opacidad durante 1 segundo */
    border-radius: 50%;
}

/* Estilo para hacer visible la imagen */
.imagen-visible {
    opacity: 1; /* La imagen es completamente visible */
    visibility: visible; /* La imagen es completamente visible */
}

#descripcion-container {
    float: right;
    margin-top: 4px; /* Ajusta el margen superior según necesites */
    margin-right: 450px; /* Ajusta la distancia hacia la derecha según necesites */
    width: 30%; /* Ocupa el 50% del ancho de la pantalla */
    margin-right: 250px;
    transform: translate(-50%, -50%); /* Ajusta el centro del contenedor al centro de la pantalla */
    border-radius: 5px; /* Bordes redondeados */
}

#descripcion2-container {
    float: right;
    margin-top: 6px; /* Ajusta el margen superior según necesites */
    margin-right: 450px; /* Ajusta la distancia hacia la derecha según necesites */
    width: 30%; /* Ocupa el 50% del ancho de la pantalla */
    margin-right: 250px;
    transform: translate(-50%, -50%); /* Ajusta el centro del contenedor al centro de la pantalla */
    border-radius: 5px; /* Bordes redondeados */
}

/* Para que se vea mejor los enlaces de imágenes */
.imagen {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
}

.imagen:hover {
    color: #FFA500;
}

.imagen2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
}

.imagen2:hover {
    color: #FFA500;
}
.especial{
    color:purple;
    margin-top:10px;
}