body {
    margin: 0;
    padding: 0; /* Asegura que no haya ningún espacio alrededor del contenido */
    font-family: sans-serif;
    background:#F3E0DC;
}


#login-link {
      color: white;
      background-color: #007bff;
      border-color: #007bff;
      border-radius: 5px;
      padding: 5px 10px;
    }

    #login-link:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }

header{

	position: fixed;
	top:0;
	left:0;
	padding: 0 150px;
	background-color: #262626;
	width:100%;
	box-sizing: border-box;
	opacity: 0.8;


}

header .logo{
	color: #fff;
	height:50px;
	line-height: 50px;
	font-size:24px;
	float:left;

	font-family: Akaya Kanadaka; /* aplica la fuente Roboto */
}

header nav{
	float:right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li{
	list-style: none;
	position: relative;
}

header nav ul li.sub-menu:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: absolute;
	line-height: 50px;
	color:#fff;
	right:8px;

}

header nav ul li.active.sub-menu:before {
	content: '\f0d8';

}

header nav ul li ul {
	position: absolute;
	left:0;
	background: #333;
	display: none;
}

header nav ul li.active ul{
	display: block;
}

header nav ul li ul li{
	display: block;
	width: 200px;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	height:50px;
	line-height: 50px;
	padding: 0 25px;
	display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
	background:#D3D3D3;
	color:black;
}

.menu-toggle{
	color:white;
	float:right;
	line-height: 50px;
	font-size:24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 991px){

	header{
		padding:0 30px;


	}

	.menu-toggle{
		display: block;
	}

	header nav{
		position: absolute;
		width:100vw;
		height: calc(100vh - 50px);
		background-color: #333;
		top:50px;
		left:-100%;
		transition: 0.5s;
	}

	header nav.active{
		left:0px;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.7);
	}

	header nav ul li.active ul{
	    position: relative;
	    background-color: #003e6f;
    }

    header nav ul li ul li{
    	width:100vw;
    	text-align: center;
    }

}


 /*footer*/
.footer {
    display: grid;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), rgba(255, 255, 255, 0.8));
    margin-top: 0;
    color: black;
    bottom: 0;
    margin-bottom: 0; /* Elimina el margen inferior del footer */
}
.footer li{
  list-style-type:none;
  padding:5px;

}
.footer li:hover{
  background-color:rgb(50,150,250);
}
.footer a{
  text-decoration:none;
  color:white;
}
.footer h1,h2,h3,p,a{
  color:black;
  font-family:"Oxygen", Arial, Tahoma, sans-serif;

}
.footer h3{
  font-weight:300;
  text-decoration:underline;
}

.footer-information-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding-bottom:20px;

}


.company-info-container {


}
.company-info-container p{
  margin-top:0px;
  margin-bottom:3px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
  border-bottom:solid 2px white;
  border-right:solid 2px white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.social-media-container .fa-facebook {
  background-color: #3B5998; /* color azul de Facebook */
}
.our-location-container .fa-localizacion {
  background-color: #007FFF; /* color mapa */
  color:black;
}
.social-media-container .fa-instagram {
  background-color: #E1306C; /* color morado rosa de Instagram */
}

.footer-developer-container{
  display:grid;
  grid-template-columns:1fr .5fr;
  align-items:center;
  border-top:solid white 2px;
  padding-top:10px;
  padding-bottom:10px;
}
.footer-developed-by p {
  margin:0px;
}
.footer-developed-by a:hover{
  text-decoration:underline;
}
.footer-privacy-container a{
  margin-right:15px;
  display:flex;
}
.footer-privacy-container a:hover{
  text-decoration:underline;
}


 /*responsive design*/

@media(max-width:700px){
         /*footer responsive design*/
  .footer-information-container{
    grid-template-columns:1fr 1fr;


  }
  .company-info-container{
    border-bottom:solid white 1px;
    padding-bottom:10px;
  }
  .our-location-container{
    border-bottom:solid white 1px;
    padding-bottom:10px;
  }
  .social-media-container{

    padding-bottom:10px;
  }
  .navigation-links-container{

     padding-bottom:10px;
  }
}

@media(max-width:500px){
         /*footer responsive design*/
  .footer-information-container{
    grid-template-columns:1fr;


  }
  .company-info-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding-bottom: 10px;
    border-bottom: none;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}





  .our-location-container{
    border-bottom:solid white 1px;
    padding-bottom:10px;
  }
  .social-media-container{

    padding-bottom:20px;
  }
  .navigation-links-container{

     padding-bottom:10px;
  }
}
/*.logo-container {

	top: 130px;
	left: 600px;
	width: 90px;
	text-align: center;
	opacity: 0.5;
}*/
.logo-container {
    width: 90px;
    position: relative; /* Necesario para usar coordenadas */
    top: 0; /* Mueve la imagen hacia abajo */
     /* Mueve la imagen hacia la derecha */
    left:650px;
    margin-top: 0; /* Mueve la imagen hacia abajo */
    margin-right: 50px; /* Mueve la imagen hacia la derecha */
}
.wat{
 position: relative; /* Necesario para usar coordenadas */
    top: 60px; /* Mueve la imagen hacia abajo */
     /* Mueve la imagen hacia la derecha */
    left:200px;
border-radius: 10px; /* Curvatura de 10 píxeles en todas las esquinas */
    margin-top: 0; /* Mueve la imagen hacia abajo */
    margin-right: 0; /* Mueve la imagen hacia la derecha */
}
.logo-image {
	width: 150%;

	max-width: 100%;
	height: auto;
	opacity: 0.9;
}
.whatsapp-link {
    position: fixed;
    top: 50px;
    left: 1200px;
    z-index: 9999;
    border-radius: 50%; /* Establece el radio de las esquinas para hacer el botón redondo */
    padding: 10px; /* Añade relleno para asegurar que el botón sea lo suficientemente grande */
    background-color: green; /* Ajusta el color de fondo según sea necesario */
}




.column:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última columna para evitar espacio adicional */
}


.image-container {
    display: flex; /* Hace que los elementos dentro de este contenedor se muestren en línea */
    align-items: center; /* Centra verticalmente los elementos */
}


#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#accept-cookies {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#accept-cookies:hover {
    background-color: #45a049;
}
/* Estilo inicial de la imagen */
.imagen {
    opacity: 0; /* La imagen está inicialmente invisible */
    transition: opacity 1s ease; /* Transición de la opacidad durante 1 segundo */
}

/* Estilo para hacer visible la imagen */
.imagen-visible {
    opacity: 1; /* La imagen es completamente visible */
}


.container {
    display: flex;
    justify-content: space-around; /* Distribuye las imágenes uniformemente */
    align-items: center; /* Centra verticalmente las imágenes */
    padding: 20px; /* Espacio alrededor del contenedor */
}

.column {
    /*border: 5px solid black;  Borde sólido de 5px */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se extienda más allá del marco */
    flex: 1; /* Para que las columnas se ajusten al tamaño del contenido */


    overflow: hidden;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
    margin-right: 0; /* Elimina el margen a la derecha de cada columna */
    margin-left: 50px 0; /* Elimina el margen a la derecha de cada columna */
    border: 2px solid black; /* Borde negro de 2px en todos los lados */
    border-top-width: 0; /* Ancho del borde superior (10px) */
    border-bottom-width: 5px; /* Ancho del borde inferior (0px) */
}

.column img {
    width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin-top: 30px; /* Agrega un margen superior de 20px */
}


/* Oculta los submenús por defecto */
nav ul ul {
    display: none;
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    /* Muestra los submenús cuando la clase "active" está presente */
    nav ul ul.active {
        display: block;
    }

    /* Ajustes para la flecha en dispositivos móviles (opcional) */
    nav ul ul li.sub-menu > a::before {
        display: none; /* Oculta la flecha en dispositivos móviles */
    }
}
