<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrar alumno</title>
    <!-- Estilos CSS para hacer el diseño responsive -->
      <link rel = 'stylesheet' href="{{url_for('static', filename='delete.css')}}">


</head>
<body>
    <table>

        <tr>
            <td colspan="4">
                <h1>Baja del Alumno</h1>
                <form action="{{ url_for('delete_user') }}" method="post">
                    <label for="user_id">Selecciona el alumno a dar de baja:</label>
                    <select name="user_id">
                        {% for user in users %}
                        <option value="{{ user.id_user }}">{{ user.nombre }} {{ user.apellidos }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<button onclick="window.history.back();" class="back-button">Volver</button>

</body>
</html>

