<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vista Ejercicios</title>
    <link rel="stylesheet" href="vista_ejercicios.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#ejercicio1">Ejercicio 1</a></li>
        <li><a href="#ejercicio2">Ejercicio 2</a></li>
        <li><a href="#ejercicio3">Ejercicio 3</a></li>
      </ul>
    </nav>
    <main>
      <div id="ejercicio1" class="youtube-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div id="ejercicio2" class="youtube-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
      </div>
      <div id="ejercicio3" class="youtube-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
      </div>
    </main>
  </body>
</html>