<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

   <meta charset="UTF-8">
  <link rel = 'stylesheet' href="{{url_for('static', filename='style2.css')}}">

  <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5847/viewport-selection-opt.jpg" />
</head>
<body>
<!DOCTYPE html>
<html>

  <head>


  <title>
    Responsive Form
  </title>
  </head>

  <body>

    <header id="masthead">
      <h1>
        Registrio datos Curso
      </h1>
  </header>
  <form>
    <fieldset>

      <legend>
        Formulario Registro
      </legend>
      <div class="box">
        <label for="nombre">
          Nombre:
        </label>
        <input type="text" id="Nombre" placeholder="Nombre" required>
      </div>
      <div class="box">

        <label for="apellidos">
          Apellidos:
        </label>

        <input type="text" id="apellidos" placeholder="Apellidos" required>
      </div>

      <div class="box">



      <div class="box">

        <label for="email">
          E-mail:
        </label>
        <input type="email" id="email" placeholder="ejemplo@mail.com" required>
      </div>

      <div class="box">

        <label for="edad">
          Edad:
        </label>

        <input type="text" id="edad" placeholder="Edad" required>
      </div>

      <div class="box">

        <label for="pass">
          Curso:
        </label>

        <input type="text" id="pass" placeholder="Nombre del curso" required>
      </div>

      <div class="box">


      <div class="box">

        <label for="pass">
          Password:
        </label>

        <input type="password" id="pass" placeholder="**********" required>
      </div>

      <div class="box">

        <input type="submit" value="Enviar" id="btn">
      </div>

    </fieldset>
  </form>
  <div class="help">
    <p>
      Forgot your password?
      <a href="#">
        Click here to reset it
      </a>

      </p>
  </div>

  </body>

</html>
</body>
</html>