<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>galeria videos chikung</title>
    <link rel = 'stylesheet' href="{{url_for('static', filename='galery.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Markazi+Text&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Galeria de imagenes Pilates</h1>
<button onclick="window.location.href='/'" class="back-button">Volver</button>
    <span class=linea></span>
            <seccion class="galeria">
                <a href="#image1"><img src="static/img_pil/pil1.jpg" alt=""></a>
                <a href="#image2"><img src="static/img_pil/pil2.jpg" alt=""></a>
                <a href="#image3"><img src="static/img_pil/pil3.jpg" alt=""></a>
                <a href="#image4"><img src="static/img_pil/pil4.jpg" alt=""></a>
                <a href="#image5"><img src="static/img_pil/pil5.jpg" alt=""></a>
                <a href="#image6"><img src="static/img_pil/pil6.jpg" alt=""></a>
                <a href="#image7"><img src="static/img_pil/pil7.jpg" alt=""></a>
                <a href="#image8"><img src="static/img_pil/pil8.jpg" alt=""></a>
                <a href="#image9"><img src="static/img_pil/pil9.jpg" alt=""></a>
                <a href="#image10"><img src="static/img_pil/pil10.jpg" alt=""></a>
                <a href="#image11"><img src="static/img_pil/pil11.jpg" alt=""></a>
                <a href="#image12"><img src="static/img_pil/pil12.jpg" alt=""></a>
                <a href="#image13"><img src="static/img_pil/pil13.jpg" alt=""></a>
                <a href="#image14"><img src="static/img_pil/pil14.jpg" alt=""></a>
                <a href="#image15"><img src="static/img_pil/pil15.jpg" alt=""></a>
            </seccion>
            <article class="light-box"  id="image1">
                <a href="#image15" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil1.jpg" alt="">
                <a href="#image2" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image2">
                <a href="#image1" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil2.jpg" alt="">
                <a href="#image3" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image3">
                <a href="#image2" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil3.jpg" alt="">
                <a href="#image4" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image4">
                <a href="#image3" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil4.jpg" alt="">
                <a href="#image5" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image5">
                <a href="#image4" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil5.jpg" alt="">
                <a href="#image6" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image6">
                <a href="#image5" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil6.jpg" alt="">
                <a href="#image7" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image7">
                <a href="#image6" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil7.jpg" alt="">
                <a href="#image8" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image8">
                <a href="#image7" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil8.jpg" alt="">
                <a href="#image9" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image9">
                <a href="#image8" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil9.jpg" alt="">
                <a href="#image10" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image10">
                <a href="#image9" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil10.jpg" alt="">
                <a href="#image11" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image11">
                <a href="#image10" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil11.jpg" alt="">
                <a href="#image12" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image12">
                <a href="#image11" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil12.jpg" alt="">
                <a href="#image13" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image13">
                <a href="#image12" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil13.jpg" alt="">
                <a href="#image14" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image14">
                <a href="#image13" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil14.jpg" alt="">
                <a href="#image15" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>

            <article class="light-box"  id="image15">
                <a href="#image14" class=" next"><i class="fa-solid fa-arrow-left"></i></a>
                <img src="static/img_pil/pil15.jpg" alt="">
                <a href="#image1" class=" next"><i class="fa-solid fa-arrow-right"></i></a>
                <a href="#" class=" close">X</a>
            </article>
<script src="https://kit.fontawesome.com/d311755c25.js" crossorigin="anonymous"></script>
</body>
</html>