<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="{{url_for('static', filename='horarios.css')}}">

	<title>Horarios de Qigong y Pilates</title>

</head>
<body>
	<h1>Horarios de Qigong y Pilates</h1>
	        <button onclick="window.history.back();" class="back-button">Volver</button>


	<table>
		<tr>
			<th></th>
			<th>Lunes</th>
			<th>Martes</th>
			<th>Miércoles</th>
			<th>Jueves</th>
			<th>Viernes</th>
			<th>Sábado</th>
			<th>Domingo</th>
		</tr>
		<tr>
			  <td class="hora">7:00 - 8:00</td>
			  <td class="pilates">Pilates</td>
			  <td class="qigong">Qigong</td>
			  <td class="pilates">Pilates</td>
			  <td class="qigong">Qigong</td>
			  <td class="pilates">Pilates</td>
			  <td class="qigong">Qigong</td>
			  <td class="descanso">Descanso</td>
</tr>
		<tr>
			<td class="hora">8:00 - 9:00</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
		</tr>
		<tr>
			<td class="hora">9:00 - 10:00</td>
			<td class="pilates">Pilates</td>
			<td class="qigong">Qigong</td>
			<td class="pilates">Pilates</td>
			<td class="qigong">Qigong</td>
			<td class="pilates">Pilates</td>
			<td class="qigong">Qigong</td>
			<td class="descanso">Descanso</td>
		</tr>
		<tr>
			<td class="hora">10:00 - 11:00</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
			<td class="descanso">Descanso</td>
		</tr>
      <tr>
  <td class="hora">11:00 - 12:00</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
</tr>
<tr>
  <td class="hora">12:00 - 13:00</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="qigong">Qigong</td>
</tr>
<tr>
  <td class="hora">13:00 - 14:00</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="pilates">Pilates</td>
</tr>
<tr>
  <td class="hora">14:00 - 15:00</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="qigong">Qigong</td>
</tr>
<tr>
  <td class="hora">15:00 - 16:00</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="pilates">Pilates</td>
</tr>
<tr>
  <td class="hora">16:00 - 17:00</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="pilates">Pilates</td>
  <td class="qigong">Qigong</td>
  <td class="qigong">Qigong</td>
</tr>
      </table>

<p id="meditacion">Los viernes a primera hora de la mañana, disfruta de una clase de meditación con el amanecer.</p>

<p id="salida-campo">Dos veces al mes, saldremos al campo para practicar meditación en un ambiente natural y relajante.</p>

</body>
</html>