<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios Clases</title>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='precios.css') }}">
  </head>
  <body>
    <header>
      <h1 class="title">Clases de Qigong y Pilates</h1>
      <button onclick="window.history.back();" class="back-button">Volver</button>


    </header>
    <main>
      <section>
        <h2>Clases de Chikung</h2>
        <p class="price">Precio por hora: 13 euros por persona.</p>
        <p class="discount">Descuento del 10% para más de 6 meses de clases continuas.</p>
        <p class="group-price">Precio para grupos de 5 personas: Descuento de 1€ .</p>
        <p class="group-price">Precio para grupos de 10 personas: Descuento de 1,5€ por persona.</p>
        <p class="group-price">Precio para grupos de 15 personas: Descuento de 2€ por persona.</p>
      </section>
      <section>
        <h2>Clases de Pilates</h2>
        <p class="price">Precio por hora: 15 euros por persona.</p>
        <p class="discount">Descuento del 15% para más de 6 meses de clases continuas.</p>
        <p class="group-price">Precio para grupos de 5 personas: Descuento de 1€ .</p>
        <p class="group-price">Precio para grupos de 10 personas: Descuento de 1,5€ por persona.</p>
        <p class="group-price">Precio para grupos de 15 personas: Descuento de 2€ por persona.</p>
      </section>
      <section>

        <h2>Clases de Pilates para Niños</h2>

        <div class="price-niños">
          <p >Precio por hora: 8 euros por niño.</p>
        <p class="discount">Descuento del 10% para más de 6 meses de clases continuas.</p>
        <p class="group-price">Precio para grupos de 5 niños: Descuento de 1€ .</p>
        <p class="group-price">Precio para grupos de 10 niños: Descuento de 1,5€ por persona.</p>
        <p class="group-price">Precio para grupos de 15 niños: Descuento de 2€ por persona.</p>
        </div>
      </section>
      <section>
        <h2>Clases de Chikung para Embarazadas</h2>
<div class="price">
  <p>Precio por hora: 12 euros por persona.</p>
  <p>Descuento del 10% para más de 6 meses de clases continuas.</p>
  <p>Precio para grupos de 5 personas: Descuento de 1€ .</p>
  <p>Precio para grupos de 10 personas: Descuento de 1,5€ por persona.</p>
  <p>Precio para grupos de 15 personas: Descuento de 2€ por persona.</p>
</div>
<section>
  <h2>Clases de Chikung para Niños</h2>
  <div class="price-niños">
    <p>Precio por hora: 8 euros por niño.</p>
    <p>Descuento del 10% para más de 6 meses de clases continuas.</p>
    <p>Precio para grupos de 5 niños: Descuento de 1€ .</p>
    <p>Precio para grupos de 10 niños: Descuento de 1,5€ por persona.</p>
    <p>Precio para grupos de 15 niños: Descuento de 2€ por persona.</p>
  </div>
</section>

      </section>
    </main>
  </body>
</html>
