<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>README</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='README.css') }}">
</head>
<body>
<div class="square">
<div class="container">
  <h1 style="text-align:center; color:#4a4e69;">Javier Fiestas Botella</h1>
  <h2 style="text-align:center; color:#4a4e69;">Proyecto de web con Flask y SqliteAlchemy para Tokio School</h2>
</div>
</div>

<table>
  <thead>
    <tr>
      <th>Carpeta/Archivo</th>
      <th>Descripción<td><img src="../static/tokio.jpg" alt="" width="35%"></td></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>silkung/</td>
      <td>Contiene el código de la aplicación.</td>
    </tr>
    <tr>
      <td>db.py</td>
      <td>*Archivo con las dependencias de la BBDD aplicación.</td>


    </tr>
    <tr>
      <td>ejercicios.py</td>
      <td>*Archivo con la elaboración de ejercicios para la aplicación.</td>
    </tr>
    <tr>
      <td>errores_archivos.py</td>
      <td>Archivo donde genera un archivo sobre errores y excepciones.</td>
    </tr>
    <tr>
      <td>models.py</td>
      <td>*Archivo BBDD de la aplicación.</td>
    </tr>
    <tr>
      <td>README.md</td>
      <td>Archivo con la documentación del proyecto.</td>
    </tr>
    <tr>
      <td>main.py</td>
      <td>Archivo principal de la aplicación.</td>
    </tr>
    <tr>
      <td>requirements.txt</td>
      <td>Archivo con las dependencias necesarias para ejecutar el proyecto.</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Carpeta/Archivo</th>
      <th>Descripción<td><img src="../static/tokio.jpg" alt="" width="35%"></td></th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>templates/</td>
      <td>Contiene las plantillas HTML utilizadas por la aplicación.</td>
    </tr>
    <tr>
      <td>index.html</td>
      <td>Archivo principar de la aplicación.</td>
    </tr>
    <tr>
      <td>alumnos.html</td>
      <td>Archivo del admin. con todos los alumnos.</td>
    </tr>
    <tr>
      <td>asignar_ejercicios</td>
      <td>*creamos ejercicios para los alumnos.</td>
    </tr>
    <tr>
      <td>form.html</td>
      <td>*formulario.</td>
    </tr>
  <tr>
      <td>error.html</td>
      <td>Error al rellenar el formulario.</td>
    </tr>
  <tr>
      <td>horario.html</td>
      <td>Los horarios de Pilates y Qigong.</td>
    </tr>
  <tr>
      <td>galery_chikung.html</td>
      <td>Imagenes clases de Qigong.</td>
    </tr>
  <tr>
      <td>galery_pilates.html</td>
      <td>Imagenes clases de Pilates.</td>
    </tr>
  <tr>
      <td>informacion_chikung.html</td>
      <td>Información sobre Qigong.</td>
    </tr>
  <tr>
      <td>informacion_piltates.html</td>
      <td>Información sobre Pilates.</td>
    </tr>
   <tr>
      <td>login.html</td>
      <td>html para hacer login.</td>
    </tr>
   <tr>
      <td>precios.html</td>
      <td>Información sobre Precios de Qigong y Pilates.</td>
    </tr>

  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Carpeta/Archivo</th>
      <th>Descripción<td><img src="../static/tokio.jpg" alt="" width="35%"></td></th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>database/</td>
      <td>carpeta con las tablas de la BBDD de la aplicación.</td>
    </tr>
    <tr>
      <td>usuarios.db</td>
      <td>base de datos.</td>
    </tr>
    <tr>
      <td>usuarios.db´journal</td>
      <td>base de datos.</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Carpeta/Archivo</th>
      <th>Descripción<td><img src="../static/tokio.jpg" alt="" width="35%"></td></th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>static/</td>
      <td>Contiene los archivos estáticos utilizados por la aplicación.</td>
    </tr>
    <tr>
      <td>alumnos.css</td>
      <td>Estilos de la página alumnos.html.</td>
    </tr>
    <tr>
      <td>editar.css</td>
      <td>Estilos de la página editar.html.</td>
    </tr>
  </tbody>
</table>
</body>
</html>